---
- name: Deploy static website to web servers
  hosts: webservers
  become: yes

  tasks:
    - name: Copy website files from jenkin repo
      ansible.builtin.copy:
        src: "{{ item }}"
        dest: /var/www/html/
        owner: www-data
        group: www-data
        mode: '0644'
      with_fileglob:
        - "../../jenkin/*"

    - name: Restart Apache
      ansible.builtin.service:
        name: apache2
        state: restarted
