---
- name: Deploy Web Application using Ansible
  hosts: webservers
  become: yes
  gather_facts: yes

  tasks:

    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install Apache
      apt:
        name: apache2
        state: present

    - name: Ensure Apache is running
      service:
        name: apache2
        state: started
        enabled: yes

    - name: Remove default Apache page
      file:
        path: /var/www/html/index.html
        state: absent

    - name: Copy website files
      copy:
        src: "{{ lookup('env','WORKSPACE') }}/web-app/"
        dest: /var/www/html/
        owner: www-data
        group: www-data
        mode: '0755'
